*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img,
svg {
	display: block;
	height: auto;
	width: 100%;
	max-width: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(189deg, rgba(10,36,86,1) 33%, rgba(25,45,100,1) 44%);
}